# Python cache / compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.env/
venv/
*.venv/

# PyInstaller build folders
/build/
/dist/
*.spec

# Executables
*.exe
*.dll
*.so
*.dylib

# IDE/editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Optional: cache / temp files
*.tmp
